{% liquid
  assign parent_link = null
  for link in menu.links

    for child_link in link.links
      if child_link.child_active
        assign parent_link = child_link
        break
      endif
    endfor

    if parent_link == null and link.child_active
      assign parent_link = link
      break
    endif

  endfor
%}

<div class="flex space-x-1">{% if parent_link %}<a href={{ parent_link.url }} class="uppercase text-link">{{ parent_link.title }}</a><span>•</span>{% endif %}<a class="text-link" href="{{ collection.url }}">{{ collection.title }}</a></div>