{% liquid
  assign text = section.settings.text | default: section.settings.url.object.title
%}
<div class="pt-15 mb-25 lg:mb-35 padding-x md:grid md:grid-cols-3">
  <div class="w-full md:col-start-2">
    {% if section.settings.url != blank %}
      <a class="section" class="block" href="{{ section.settings.url }}" title="{{ text }}">
    {% endif %}

      <figure>
        {% if section.settings.image %}
          {% capture class %}
              w-full{% if section.settings.mobile_image %} hidden md:block{% endif %}
          {% endcapture %}
          {% render 'image',
            image: section.settings.image,
            preload: true,
            use_padding: false,
            class: class,
            fit: 'cover',
            sizes: '(min-width: 768px) 33vw, 100vw',
          %}
        {% endif %}

        {% if section.settings.mobile_image %}
          {% capture class %}
            w-full{% if section.settings.image %} md:hidden{% endif %}
          {% endcapture %}
          {% render 'image',
            image: section.settings.mobile_image,
            preload: true,
            use_padding: false,
            class: class,
            fit: 'cover',
            sizes: '(min-width: 768px) 33vw, 100vw',
          %}
        {% endif %}

        <figcaption class="block uppercase hover:underline mt-gutter">{{ text }}</figcaption>
      </figure>

    {% if section.settings.url != blank %}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "enabled_on": {
    "templates": [
      "index"
    ]
  },
  "settings": [
    {
      "label": "Image",
      "id": "image",
      "type": "image_picker"
    },
    {
      "label": "Mobile Image",
      "id": "mobile_image",
      "type": "image_picker"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "info": "Defaults to linked object's title."
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Homepage"
    }
  ]
}
{% endschema %}
