<div class="mt-9 mb-25 lg:mb-35 padding-x">
  <ul role="list" class="space-y-25">
    {%- for block in section.blocks -%}
      {%- assign collection = block.settings.collection -%}
      {%- if collection != blank -%}
        <li>
          <div class="grid grid-cols-4 grid-flow-dense md:grid-cols-4 gap-x-gutter gap-y-10">
            <h2 class="mb-6 md:mb-9">
              <a class="text-link uppercase" href="{{ collection.url }}">{{ collection.title }}</a>
              <div class="rte">
                {{ collection.description }}
              </div>
            </h2>
            {% for product in collection.products limit: 3 %}
              {%- render 'card-product', collection: collection, section: section, card_product: product, show_secondary_image: section.settings.show_secondary_image, show_vendor: section.settings.show_vendor, show_rating: section.settings.show_rating -%}
            {% endfor %}
          </div>
        </li>
      {%- endif %}
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "tag": "section",
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "label": "Collection",
          "id": "collection"
        },
        {
          "type": "checkbox",
          "label": "Show Collection Image",
          "id": "show_image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    }
  ]
}
{% endschema %}
