{% if template == 'list-collections' %}
  {% assign collection = collections['all'] %}
{% endif %}

{% if collection.description.size > 0 %}
  {{ 'component-rte.css' | asset_url | stylesheet_tag }}
{% endif %}

<div class="padding-x mb-2">
  {% if collection.description.size > 0 %}
    <h1 class="underline">{{ collection.title }}</h1>
    <div class="sm:grid sm:grid-cols-2 md:grid-cols-3 gap-gutter mt-text-line mb-9"><div class="md:col-span-2 lg:col-span-1 rte">{{ collection.description }}</div></div>
  {% else %}
    {% render 'breadcrumbs', menu: section.settings.menu %}
  {% endif %}
</div>


{% schema %}
{
  "name": "Collection Header",
  "class": "section-collection-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}