<div class="padding-x">
  <div>
    <h1 class="uppercase">
      {{ section.settings.heading }}
    </h1>
    <p class="text-paragraph">
      {{ section.settings.body | newline_to_br }}
    </p>
    <p class="mt-text-line">
      <a href="{{ collections['all'].url }}" class="underline hover:no-underline">
      {{ section.settings.cta }}
      </a>
    </p>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "id": "heading",
      "label": "Heading",
      "type": "text",
      "default": "Page not found"
    },
    {
      "id": "body",
      "label": "Body",
      "type": "textarea",
      "default": "The page you were looking for couldn't be found."
    },
    {
      "id": "cta",
      "label": "Button Text",
      "type": "text",
      "default": "Continue Shopping"
    }
  ]
}
{% endschema %}