{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{% assign image = page.metafields.custom.image.value %}

<div class="grid grid-cols-3 md:grid-cols-24 md:grid-flow-dense gap-x-gutter gap-y-10 padding-x ">
  <div class="col-span-2 md:col-span-8 lg:col-span-6{% if image %} md:col-start-[17] lg:col-start-[17]{% endif %}">
  <h1 class="visually-hidden uppercase">
    {{ page.title | escape }}
  </h1>

    <div class="rte">{{ page.content }}</div>
    {% if section.settings.content != blank %}<div class="uppercase">{{ section.settings.contact }}</div>{% endif %}
  </div>
  {% if image %}
    <div class="w-full col-span-3 md:col-end-[16] md:col-start-1">
      {% render 'image', image: image, use_padding: true, sizes: "(min-width: 768px) 66vw, 100vw " %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "page",
  "settings": [
    {
      "type": "textarea",
      "id": "contact",
      "label": "Contact Info"
    }
  ]
}
{% endschema %}
