
<section class="padding-x">
	{% paginate collection.products by 12 %}
    <div class="grid grid-cols-2 grid-flow-dense md:grid-cols-3 lg:grid-cols-4 gap-x-gutter gap-y-6">
      {% for product in collection.products %}
        {%- render 'card-product', collection: collection, section: section, card_product: product -%}
      {% endfor %}
		</div>
		{% render 'pagination', paginate: paginate %}
	{% endpaginate %}
</section>
