/* component-quantity */
.quantity {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

.quantity__input {
  color: currentColor;
  text-align: center;
  background-color: transparent;
  border: 0;
  margin: 0;
  width: 2rem;
  pointer-events: none;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}

.quantity__button {
  border: 0;
  background-color: transparent;
  padding: 0;
  position: relative;
}

.quantity__button:after {
  position: absolute;
  content: '';
  display: block;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
}

.quantity__button svg {
  pointer-events: none;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__input[type='number'] {
  -moz-appearance: textfield;
}

.quantity__rules {
  margin-top: 1.2rem;
  position: relative;
}

.quantity__rules .caption {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.quantity__rules .divider + .divider::before {
  content: '\2022';
  margin: 0 0.5rem;
}

.quantity__rules-cart {
  position: relative;
}

product-info .loading-overlay:not(.hidden) ~ *,
.quantity__rules-cart .loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}