.mega-menu {
  position: static;
}

.mega-menu__content {
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 100%;
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.mega-menu__content {
  transition: opacity 100ms linear, transform 100ms linear;
  opacity: 0;
  transform: translateY(-100%);
  z-index: -1;
}

.mega-menu.open .mega-menu__content {
  display: block;
}

.mega-menu.open .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu.open summary::After {
  content:'';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
}

.mega-menu.open summary::after,
.mega-menu[open] summary::after {
  bottom: -30px;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}