.mega-menu .mega-menu__content {
  display: none;
}

.mega-menu.open .mega-menu__content {
  display: block;
}

.mega-menu button {
  pointer-events: none;
  z-index: 1;
}

.mega-menu button * {
  pointer-events: auto;
}

.mega-menu button::after {
  pointer-events: auto;
  content:'';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: -1;
}

.mega-menu.open button::after {
  bottom: -30px;
}
