@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
  }

  :root {
    --announcement-bar-height: 80px; /* Default to prevent empty value before being set with JS */
    --header-height: 60px;
  }
  
  @media screen and (min-width: 768px) {
    :root {
      --announcement-bar-height: 40px; /* Default to prevent empty value before being set with JS */
    }
  }

  *:focus {
    @apply focus;
  }

  *:focus:not(:focus-visible) {
    @apply outline-0 ring-0 ring-offset-0;
  }

  *:focus-visible {
    @apply focus;
  }

  body {
    @apply bg-white text-black tracking-normal;
  }

  body {
    @apply flex flex-col justify-stretch items-stretch;
  }

  input[type='radio']:focus + label {
    @apply focus;
  }

  input[type='radio']:focus:not(:focus-visible) + label {
    @apply outline-0 ring-0 ring-offset-0;
  }

  input[type='radio']:focus-visible + label {
    @apply focus;
  }

  .product-card__image-wrapper .product-card__image:last-child:not(:first-child) {
    @apply hidden
  }

  @media screen and (hover: hover) {
    .product-card__image-wrapper .product-card__image:last-child:not(:first-child) {
      @apply block opacity-0 duration-300 z-10
    }

    .product-card__image-wrapper:hover .product-card__image:last-child:not(:first-child) {
      @apply opacity-100
    }
  }
}

@layer utilities {
  .focus {
    @apply outline-0 ring-1 ring-offset-1 ring-black;
  }
  .uppercase {
    @apply tracking-wide;
  }

  .visually-hidden {
    @apply sr-only
  }

  .padding-x {
    @apply px-5;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

@layer components {
  .button {
    @apply text-center tracking-normal font-union flex justify-center items-center bg-white text-black px-2 py-1 border border-black h-9 w-full transition-colors duration-200;
  }

  .button:disabled,
  .button[aria-disabled='true'],
  .button.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .button:hover:not(:disabled):not([aria-disabled='true']):not(.disabled), .button:focus:not(:disabled):not([aria-disabled='true']):not(.disabled) {
    @apply text-white bg-black;
  }

  .button--reverse {
    @apply text-white bg-black;
  }

  .button--reverse:hover:not(:disabled):not([aria-disabled='true']):not(.disabled), .button--reverse:focus:not(:disabled):not([aria-disabled='true']):not(.disabled) {
    @apply text-black bg-white;
  }

  .text-link {
    @apply hover:underline
  }

}

/*Typography*/

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply text-base tracking-normal font-union underline-offset-2;
  }

  strong, b {
    @apply font-semibold;
  }

  .shopify-challenge__container {
    @apply flex flex-col items-center justify-center space-y-4;
  }

  .shopify-challenge__container input[type=submit] {
    @apply button flex mt-8;
  }

  .shopify-payment-button__button {
    @apply mt-1 w-full;
  }

  .shopify-payment-button__button,
  .shopify-payment-button__button .shopify-cleanslate,
  .shopify-payment-button__button .shopify-cleanslate [role=button]{
    @apply !min-h-10 !h-10 !max-h-10 !border-0;
  }
  .shopify-payment-button__button .shopify-cleanslate [role=button]{
    @apply !transition-colors;
  }

  .shopify-payment-button__button .shopify-cleanslate [role=button]:focus {
    @apply !outline-0 !ring-1 !ring-offset-1 !ring-black;
  }

  .shopify-payment-button__button .shopify-cleanslate [role=button]:focus:not(:focus-visible) {
    @apply ring-0 ring-offset-0;
  }

  .shopify-payment-button__button .shopify-cleanslate [role=button]:focus-visible {
    @apply !outline-0 !ring-1 !ring-offset-1 !ring-black;
  }

  .shopify-payment-button__more-options {
    @apply text-link;
  }

  .nav-link-current {
    @apply text-black/100 relative;
  }
  .nav-link-current::before {
    content: '•';
    @apply absolute -left-2;
  }

  /* Policy Pages */

  body .shopify-policy__container {
    @apply padding-x max-w-none sm:max-w-md mt-9;
  }

  body .shopify-policy__title {
    @apply md:top-header py-0 text-left;
  }

  body .shopify-policy__title h1 {
    @apply uppercase;
  }

  body .shopify-policy__body {
    @apply mt-9
  }

  .rte a {
    @apply text-link;
  }

  .rte p, .rte ul, .rte ol, .rte table, .rte blockquote {
    @apply my-text-line mx-0;
  }

  .rte h1 {
    @apply uppercase;
    margin-top: 3em;
  }

  .rte h2 {
    @apply uppercase;
    margin-top: 2em;
  }

  .rte h3 {
    @apply underline;
    margin-top: 1.5em;
  }

  .rte h4 {
    @apply uppercase;
    margin-top: 2em;
  }


  .rte h5 {
    @apply uppercase;
    margin-top: 2em;
  }

  .rte h6 {
    @apply underline;
    margin-top: 2em;
  }

  .rte > :first-child {
    margin-top: 0;
  }

  .rte > :last-child {
    margin-bottom: 0;
  }
}

body .shopify-pc__banner__dialog {
  @apply padding-x py-3;
  border-top: 1px solid black;
  box-shadow: none;
}
body .shopify-pc__banner__btns,
body .shopify-pc__prefs__header-actions {
  justify-content: flex-end;
  @apply space-x-6
}

body .shopify-pc__banner__btns {
  min-width: max-content;
}

body .shopify-pc__banner__dialog button,
body .shopify-pc__prefs__header-actions button {
  flex-basis: auto;
  margin: 0 0 0 0;
  border: none;
  text-decoration: none;
  padding: 0 0 0 0;
  @apply hover:underline;
}

body .shopify-pc__prefs__header-close {
  top: 30px;
}

body .shopify-pc__banner__dialog button.shopify-pc__banner__btn-manage-prefs {
  /* text-decoration: none; */
  /* @apply hover:no-underline; */
}

body .shopify-pc__banner__dialog button.shopify-pc__banner__btn-accept,
body .shopify-pc__banner__dialog button.shopify-pc__banner__btn-decline {
  border: none;
}

body .shopify-pc__banner__dialog button.shopify-pc__banner__btn-accept,
body .shopify-pc__banner__dialog button.shopify-pc__banner__btn-decline,
body .shopify-pc__prefs__header-actions button {
  @apply font-normal uppercase;
}

#shopify-pc__banner ~ #shopify-section-footer {
  @apply pb-9;
}

/* PDP */
.product-form__input input[type='radio'] + label {
  @apply text-gray inline-block text-center relative;
}

.product-form__input input[type='radio']:checked + label {
  @apply text-black;
}

.product-form__input input[type='radio']:checked + label .value {
  @apply underline;
}
